.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
}

.search-pagination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.single-pokemon-container {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }