.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.select-container {
    position: relative;
}

.select-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    margin: 5px;
    cursor: pointer;
}